* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #CCC
}

$width:1200px;
$margin: 0 auto;
$fr:right;
$fl:left;
// 头部
.head {
    .topNav {
        width: 100%;
        height: 30px;
        background-color: #3E3A39;
        line-height: 30px;
        font-size: 14px;
        color: #CCC;
        font-family: "宋体";
        .topNavBox {
            width: $width;
            height: 30px;
            margin: $margin;
            .top-f {
                float: left;
            }
            .top-r {
                float: $fr;
                li {
                    float: $fl;
                    a {
                        padding: 0 20px;
                        color: #CCC;
                        cursor: pointer;
                    }
                    span {
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }
    }
    .topAd {
        width: $width;
        height: 80px;
        margin: $margin;
        img {
            width: 1200px;
            height: 80px;
            // margin-top: -10px;
        }
    }
    .topItem {
        width: $width;
        margin: $margin;
        padding: 10px 0;
        height: 90px;
        font-size: 0px;
        .topLogo {
            img {
                margin-top: 26px;
                margin-right: 25px;
                vertical-align: top;
            }
        }
        .topActive {
            margin: 20px 0 0 20px;
            img {
                width: 175px;
                height: 60px;
            }
        }
        .topSearch {
            width: 450px;
            margin: 24px 0 0 80px;
            height: auto;
            .searchBox {
                .search {
                    float: $fl;
                    width: 350px;
                    height: 33px;
                    line-height: 33px;
                    text-indent: 10px;
                    border: 3px solid #c40000;
                    font-size: 14px;
                    outline: 0;
                }
                .proposal-box {
                    margin-top: 39px;
                    width: 352px;
                    position: absolute;
                    height: auto;
                    border-left: 1px solid rgba(0, 0, 0, .11);
                    border-right: 1px solid rgba(0, 0, 0, .11);
                    left: 0;
                }
                .topSearchBtn {
                    float: $fl;
                    width: 86px;
                    height: 39px;
                    background: #c40000;
                    color: #fff;
                    line-height: 39px;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    font-family: "Microsoft Yahei";
                    text-align: center;
                }
                .topTags {
                    a {
                        float: left;
                        margin-top: 7px;
                        padding: 0 8px;
                        font-size: 12px;
                        border-right: 1px solid #ccc;
                        color: #E17F7F;
                        z-index: 8;
                    }
                }
            }
        }
        .topShopcar {
            margin-left: 80px;
            margin-top: 25px;
            .shopCarBox {
                position: relative;
                width: 139px;
                height: 34px;
                font-size: 16px;
                background: #f9f9f9;
                border: 1px solid #f40;
                line-height: 34px;
                text-align: center;
                .cart {
                    color: #c40000;
                    i {
                        margin-left: 15px;
                        font-size: 25px;
                    }
                    .itemNum {
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px 25px 25px 25px;
                        background-color: #f40;
                        color: #FFF;
                        top: -15px;
                        left: 35px;
                        line-height: 25px;
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
        }
        .fl {
            float: $fl;
        }
    }
}

// 头部
// 中部导航
.itemNav {
    width: $width;
    height: 45px;
    margin: $margin;
    font-size: 15px;
    .itemList {
        height: 45px;
        float: $fl;
        #listnav {
            font-size: 18px;
            padding: 0;
            width: 185px;
            background: #CC0210;
            position: relative;
            z-index: 999;
            text-align: center;
            .qbfl-list {
                display: block;
            }
            ul {
                position: absolute;
                top: 45px;
                left: 0;
                li {
                    width: 145px;
                    height: 47px;
                    background: rgba(204, 2, 16, .9);
                    padding: 0 20px;
                    // position: relative;
                    a {
                        width: 126px;
                        text-align: left;
                        display: inline-block;
                        height: 48px;
                        text-indent: .6em;
                        font-size: 16px;
                        position: relative;
                        i {
                            margin-top: 2px;
                            float: left;
                            margin-left: 0px;
                            margin-right: 10px;
                            font-size: 20px;
                            color: #ccc
                        }
                    }
                    i {
                        color: rgba(255, 255, 255, .3);
                        font-size: 18px;
                        margin-top: 5px;
                    }
                    .sec-box {
                        width: 1020px;
                        height: 470px;
                        position: absolute;
                        background: #FFF;
                        left: 185px;
                        top: 0;
                        display: none;
                        border-top: 1px solid #E5E5E5;
                        .box-lt {
                            width: 1020px;
                            padding-left: 10px;
                            height: 450px;
                            .list-box {
                                width: 100%;
                                margin: 5px 15px 10px 10px;
                                float: left;
                                // height: 121px;
                                .list-tit {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 14px;
                                    border-bottom: 1px solid #EAEAEA;
                                    text-align: left;
                                    color: #3B3B3B;
                                    font-weight: 900;
                                }
                                .list-msg {
                                    width: 100%;
                                    padding-top: 20px;
                                    a:first-child {
                                        padding-left: 0;
                                        border-left: none;
                                    }
                                    a {
                                        width: 100px;
                                        height: 20px;
                                        padding: 0 5px;
                                        border-left: 1px solid #BFBFBF;
                                        margin-bottom: 5px;
                                        color: #595959;
                                        font-size: 14px;
                                        float: left;
                                        line-height: 20px;
                                        text-align: center;
                                    }
                                }
                            }
                            .long {
                                width: 80%!important;
                            }
                            .short {
                                width: 80%!important;
                            }
                        }
                        .fl {
                            float: $fl;
                        }
                        .fr {
                            float: $fr;
                        }
                    }
                }
                li:hover .sec-box {
                    display: block;
                }
            }
            a,
            .qbfl-list a {
                color: #FFF;
            }
        }
        li {
            float: left;
            padding: 0 20px;
            height: 45px;
            line-height: 45px;
            a {
                color: #333;
            }
        }
        // .hot {
        //     position: relative;
        //     span {
        //         position: absolute;
        //         top: -10px;
        //         left: 30px;
        //         i {
        //             width: 18px;
        //             height: 18px;
        //             font-size: 18px;
        //             color: #f40;
        //         }
        //     }
        // }
    }
    .fr {
        float: $fr;
    }
}

// 轮播图
.banner {
    width: 100%;
    height: 516px;
    /*最外层盒子样式处理：
    1.设置与轮播图高宽一致
    2.设置纵向距顶部50px，水平居中
    3.设置自己为固定位置
    */
    .banner-outer {
        height: 470px;
        width: 1200px;
        margin: $margin;
        position: relative;
        /*轮播图片集合处理:
    1.将其设置为脱离文档流
    2.设置距顶部和左侧都为0
    */
        .banner-img {
            li {
                position: absolute;
                top: 0;
                left: 0;
                img {
                    height: 470px;
                    width: 1200px;
                }
            }
        }
        /*顺序按钮区域处理：
    1.设置脱离文档流
    2.通过设置text-align、width使其整体水平居中
    3.设置距离底部20px
    */
        .banner-num {
            position: absolute;
            text-align: center;
            width: 260px;
            bottom: 20px;
            left: 470px;
            /*顺序按钮处理:
        1.将其设置为行级及块级兼容显示
        2.设置其宽高
        3.设置背景色及字体颜色
        4.设置字体水平居中
        5.通过设置line-height与height一致，使其字体纵向居中
        6.设置其样式为圆形
        7.增加按钮左右间距
        */
            li {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: darkgray;
                color: white;
                text-align: center;
                line-height: 20px;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
            }
        }
        .banner-s-img {
            position: absolute;
            top: 0px;
            right: 0;
            z-index: 4;
            width: 190px;
            height: 470px;
            overflow: hidden;
            img {
                width: 190px;
                height: 210px;
                display: block;
                margin-bottom: 20px;
                margin-top: 15px;
                opacity: .8;
                transition: all 1s;
            }
        }
        /*左、右按钮相同部分处理:
    1.设置其脱离文档流
    2.设置其宽高
    3.设置背景色及字体颜色
    4.设置字体水平居中
    5.通过设置line-height与height一致，使其字体纵向居中
    6.通过设置top、margin-top使其整体纵向居中
    7.默认不显示
    */
        .banner-btn {
            position: absolute;
            width: 40px;
            height: 70px;
            text-align: center;
            line-height: 70px;
            top: 45%;
            display: none;
            height: 69px;
            width: 41px;
            z-index: 6;
            i {
                color: #CCC;
                font-size: 30px;
            }
        }
        /*左侧按钮处理:
        设置左侧为0
        */
        .left_btn {
            left: 180px;
        }
        /*右侧按钮处理:
    设置右侧为0
    */
        .right_btn {
            right: 190px;
        }
        .banner-current {
            background-color: red!important;
        }
    }
    /*鼠标悬浮至轮播图区域时左、右按钮处理:
    1.设置左右按钮显示样式为行级块级兼容
    2.设置鼠标放置在左右按钮时样式为小手
    */
    .banner-outer:hover .banner-btn {
        display: inline-block;
        cursor: pointer;
    }
    .banner-btn:hover i {
        color: aliceblue;
    }
    /*设置顺序按钮初始按钮样式:
    设置为红色（由于样式级别问题会导致设置无效，可通过两种方式解决：
    1.后面加上!important
    2.将css定位写详细，比如：.outer .num .current{……
    ）
    */
    .nav-note {
        height: 45px;
        margin: $margin;
        line-height: 45px;
        color: #9B9B9B;
        width: $width;
        font-size: 14px;
        span {
            padding: 0 40px;
            display: table-cell;
            text-indent: -.6em;
            vertical-align: middle;
            i {
                font-size: 18px;
                color: #f40;
            }
        }
        a {
            color: #E01F35;
            font-size: 13px;
            padding: 0 10px;
        }
        .fl {
            float: $fl;
        }
        .fr {
            float: $fr;
        }
    }
}

// 轮播图
// 右侧导航
.rightFixedBar {
    position: fixed;
    right: 0;
    top: 0;
    width: 32px;
    height: 100%;
    background: #CCC;
    z-index: 10003;
    text-align: center;
    color: #fff;
    .rightFixedBar-content {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -216px;
        width: 32px;
        height: 432px;
        .rb_btn {
            display: block;
            padding: 0 3px;
            cursor: pointer;
            .footer_iconBox {
                position: relative;
                color: #c40000;
                padding: 10px 0;
                border-bottom: 1px solid #f40;
                font-size: 13px;
                .iconfont {
                    font-size: 18px;
                }
                p {
                    margin-left: 5px;
                    width: 19px;
                }
            }
            .iconBox_tips {
                display: none;
                height: 40px;
                line-height: 40px;
                width: 108px;
                background: #494949;
                right: 80px;
                top: 0;
                font-size: 12px;
                opacity: 0;
                filter: alphap(opacity=0);
                .tips_arrow {
                    position: absolute;
                    text-align: center;
                }
            }
        }
        .rb_btn:hover {
            background-color: #c40000;
            .footer_iconBox {
                color: aliceblue;
            }
            .iconBox_tips {
                display: block;
                opacity: 1;
                right: 32px;
                // .e {
                //     line-height: 30px;
                //     display: inline-block;
                //     padding: 10px;
                //     background: #ccc;
                // }
                // .e:before {
                //     position: absolute;
                //     z-index: 2;
                //     right: -6px;
                //     top: 0;
                //     content: '';
                //     width: 0;
                //     height: 0;
                //     border-style: solid;
                //     border-color: transparent transparent transparent #ccc;
                //     border-width: 25px;
                // }
                .tips_arrow {
                    right: -8px;
                    top: 12px;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 16px;
                    color: #494949;
                    font-family: "\5b8b\4f53";
                }
            }
        }
    }
}

// 名酒优选区
.big-addbox {
    width: 1200px;
    margin: 10px auto;
    .ptj-tit {
        width: 1200px;
        height: 58px;
        line-height: 58px;
        color: #333;
        .fl {
            font-size: 20px;
            text-indent: 3px;
            margin-left: 20px;
            float: $fl;
        }
        .fr {
            float: $fr;
            color: #000;
            font-size: 16px;
            -webkit-transition: all .4s;
            transition: all .4s;
            i {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-size: 16px;
                background: #B0B0B0;
                padding: 0 3px;
                color: #f40;
                -webkit-transition: all .4s;
                transition: all .4s;
            }
        }
        .box {
            span {
                float: $fl;
                font-size: 14px;
                display: inline-block;
                margin-top: 3px;
            }
            .content {
                float: $fl;
            }
            .fl {
                float: $fl;
                input[type='text'] {
                    width: 40px;
                    height: 35px;
                    padding: 2px 0px;
                    margin: 5px 0;
                    text-align: center;
                    border: 1px solid #ff9966;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }
    .clearfix {
        margin-bottom: 10px;
        li {
            background: #FFF;
            float: left;
            height: 320px;
            border: 1px solid #EDEDF1;
            margin-right: 15px;
            transition: all .5s;
            position: relative;
            top: 0;
            a {
                color: #000;
                img {
                    height: 260px;
                }
                .item-msg {
                    width: 280px;
                    height: 56px;
                    .fl {
                        height: 56px;
                        line-height: 56px;
                        padding-left: 10px;
                        float: $fl;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 180px;
                        margin: 0 auto;
                    }
                    .fr {
                        float: $fr;
                        width: 75px;
                        height: 56px;
                        line-height: 56px;
                    }
                    span:last-child {
                        padding-right: 5px;
                        color: #A10000;
                        em {
                            font-size: 20px;
                            margin: 2px 5px 0 0;
                        }
                    }
                }
            }
        }
        li:hover li {
            top: -5px;
            left: 0;
            transition: all .5s;
            box-shadow: 5px 5px 5px 0;
        }
        li:first-child {
            a {
                color: #000;
                .item-msg {
                    .fl {
                        height: 56px;
                        line-height: 56px;
                        padding-left: 15px;
                        float: $fl;
                    }
                    .fr {
                        float: $fr;
                        height: 56px;
                        line-height: 56px;
                    }
                    span:last-child {
                        padding-right: 5px;
                        color: #A10000;
                        em {
                            font-size: 20px;
                            margin: 2px 5px 0 0;
                        }
                    }
                }
            }
        }
        li:last-child {
            float: left;
            margin: 0;
        }
    }
    .b-first-content {
        li {
            margin-right: 25px;
        }
    }
    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.content {
    width: 100%;
    background: #f5f5f5;
    // .shop{width: 600px;height: 650px;margin: 0 auto;text-align: center;line-height: 650px;
    //     font-size: 20px;}
    // 茅台酒超值区
    .content-shop {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .ptj-list {
            height: 622px;
            .ptj-lt {
                width: 239px;
                a {
                    height: 300px;
                    display: block;
                    top: 0;
                    background: #FFF;
                }
                a:first-child {
                    margin-bottom: 12px;
                }
            }
            .ptj-rt {
                width: 944px;
                ul {
                    li {
                        width: 219px;
                        height: 300px;
                        margin-right: 17px;
                        float: left;
                        background: #fff;
                        top: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            .item-style {
                                background: #FF2D32;
                                width: 64px;
                                margin: 0 auto 10px;
                                text-align: center;
                                color: #FFF;
                                line-height: 20px;
                                font-size: 13px;
                                height: 20px;
                            }
                            img {
                                height: 190px;
                            }
                            .item-name {
                                color: #333;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 80%;
                                margin: 0 auto;
                            }
                            .item-pri {
                                color: #FF2C00;
                                font-size: 13px;
                                padding: 10px 0;
                            }
                        }
                    }
                    li:hover li {
                        top: -5px;
                        left: 0;
                        position: relative;
                        transition: all .5s;
                        box-shadow: 5px 5px 5px 0;
                    }
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        margin-top: 12px;
                    }
                }
            }
            .fl {
                float: $fl;
            }
            .fr {
                float: $fr;
            }
        }
    }
    // 茅台酒超值区
    //年份老酒专区 
    .old-shop {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .ptj-list {
            height: 622px;
            .ptj-lt {
                width: 239px;
                a {
                    height: 300px;
                    display: block;
                    top: 0;
                    background: #FFF;
                }
                a:first-child {
                    margin-bottom: 12px;
                }
            }
            .ptj-rt {
                width: 944px;
                ul {
                    li {
                        width: 219px;
                        height: 300px;
                        margin-right: 17px;
                        float: left;
                        background: #fff;
                        top: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            .item-style {
                                background: #FF5C00;
                                width: 64px;
                                margin: 0 auto 10px;
                                text-align: center;
                                color: #FFF;
                                line-height: 20px;
                                font-size: 13px;
                                height: 20px;
                            }
                            img {
                                height: 190px;
                            }
                            .item-name {
                                color: #333;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 80%;
                                margin: 0 auto;
                            }
                            .item-pri {
                                color: #FF2C00;
                                font-size: 13px;
                                padding: 10px 0;
                            }
                        }
                    }
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        margin-top: 12px;
                    }
                }
            }
            .fl {
                float: $fl;
            }
            .fr {
                float: $fr;
            }
        }
    }
    //年份老酒专区 
    // 白酒专卖
    .drink-shop {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .ptj-list {
            height: 622px;
            .ptj-lt {
                width: 239px;
                a {
                    height: 300px;
                    display: block;
                    top: 0;
                    background: #FFF;
                }
                a:first-child {
                    margin-bottom: 12px;
                }
            }
            .ptj-rt {
                width: 944px;
                ul {
                    li {
                        width: 219px;
                        height: 300px;
                        margin-right: 17px;
                        float: left;
                        background: #fff;
                        top: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            .item-style {
                                background: #FF3264;
                                width: 64px;
                                margin: 0 auto 10px;
                                text-align: center;
                                color: #FFF;
                                line-height: 20px;
                                font-size: 13px;
                                height: 20px;
                            }
                            img {
                                height: 190px;
                            }
                            .item-name {
                                color: #333;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 80%;
                                margin: 0 auto;
                            }
                            .item-pri {
                                color: #FF2C00;
                                font-size: 13px;
                                padding: 10px 0;
                            }
                        }
                    }
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        margin-top: 12px;
                    }
                }
            }
            .fl {
                float: $fl;
            }
            .fr {
                float: $fr;
            }
        }
    }
    // 白酒专卖
    // 葡萄酒专卖区
    .Wine-shop {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .ptj-list {
            height: 622px;
            .ptj-lt {
                width: 239px;
                a {
                    height: 300px;
                    display: block;
                    top: 0;
                    background: #FFF;
                }
                a:first-child {
                    margin-bottom: 12px;
                }
            }
            .ptj-rt {
                width: 944px;
                ul {
                    li {
                        width: 219px;
                        height: 300px;
                        margin-right: 17px;
                        float: left;
                        background: #fff;
                        top: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            .item-style {
                                background: #1E9ED7;
                                width: 64px;
                                margin: 0 auto 10px;
                                text-align: center;
                                color: #FFF;
                                line-height: 20px;
                                font-size: 13px;
                                height: 20px;
                            }
                            img {
                                height: 190px;
                            }
                            .item-name {
                                color: #333;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 80%;
                                margin: 0 auto;
                            }
                            .item-pri {
                                color: #FF2C00;
                                font-size: 13px;
                                padding: 10px 0;
                            }
                        }
                    }
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        margin-top: 12px;
                    }
                }
            }
            .fl {
                float: $fl;
            }
            .fr {
                float: $fr;
            }
        }
    }
    // 葡萄酒专卖区
    // 洋酒热卖专区
    .yj-hot {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .ptj-list {
            height: 312px;
            .ptj-lt {
                width: 239px;
                a {
                    height: 300px;
                    display: block;
                    top: 0;
                    background: #FFF;
                }
                a:first-child {
                    margin-bottom: 12px;
                }
            }
            .ptj-rt {
                width: 944px;
                ul {
                    li {
                        width: 219px;
                        height: 300px;
                        margin-right: 17px;
                        float: left;
                        background: #fff;
                        top: 0;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            .item-style {
                                background: #b922ff;
                                width: 64px;
                                margin: 0 auto 10px;
                                text-align: center;
                                color: #FFF;
                                line-height: 20px;
                                font-size: 13px;
                                height: 20px;
                            }
                            img {
                                height: 190px;
                            }
                            .item-name {
                                color: #333;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 80%;
                                margin: 0 auto;
                            }
                            .item-pri {
                                color: #FF2C00;
                                font-size: 13px;
                                padding: 10px 0;
                            }
                        }
                    }
                    li:nth-child(5),
                    li:nth-child(6),
                    li:nth-child(7),
                    li:nth-child(8) {
                        margin-top: 12px;
                    }
                }
            }
            .fl {
                float: $fl;
            }
            .fr {
                float: $fr;
            }
        }
    }
    // 洋酒热卖专区
    // 店长推荐专区
    .dz-recommend {
        width: 1200px;
        margin: 10px auto;
        .ptj-tit {
            width: 1200px;
            height: 58px;
            line-height: 58px;
            color: #333;
            .fl {
                font-size: 20px;
                text-indent: 3px;
                margin-left: 20px;
                float: $fl;
            }
            .fr {
                float: $fr;
                color: #000;
                font-size: 16px;
                -webkit-transition: all .4s;
                transition: all .4s;
                i {
                    display: inline-block;
                    width: 30px;
                    height: 36px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    font-size: 16px;
                    background: #B0B0B0;
                    padding: 0 3px;
                    color: #f40;
                    -webkit-transition: all .4s;
                    transition: all .4s;
                }
            }
        }
        .swiper-slide {
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            background: #f5f5f5;
            width: 100%;
            height: 327px;
            position: relative;
            li {
                text-align: center;
                width: 225px;
                float: left;
                height: 315px;
                margin-right: 14px;
                background: #FFF;
                img {
                    width: 200px;
                    height: 200px;
                }
                .dztj-name {
                    color: #333;
                    padding: 10px 0 5px;
                    font-size: 13px;
                    height: 36px;
                }
                .dztj-pri {
                    color: #FF2C00;
                    padding: 5px 0;
                    font-size: 13px;
                }
                .dztj-hpnum {
                    color: #757575;
                }
            }
        }
        // .ptj-list {
        //     height: 312px;
        //     .ptj-lt {
        //         width: 239px;
        //         a {
        //             height: 300px;
        //             display: block;
        //             top: 0;
        //             background: #FFF;
        //         }
        //         a:first-child {
        //             margin-bottom: 12px;
        //         }
        //     }
        //     .ptj-rt {
        //         width: 944px;
        //         ul {
        //             li {
        //                 width: 219px;
        //                 height: 300px;
        //                 margin-right: 17px;
        //                 float: left;
        //                 background: #fff;
        //                 top: 0;
        //                 a {
        //                     width: 100%;
        //                     height: 100%;
        //                     display: inline-block;
        //                     text-align: center;
        //                     .item-style {
        //                         background: #FF2D32;
        //                         width: 64px;
        //                         margin: 0 auto 10px;
        //                         text-align: center;
        //                         color: #FFF;
        //                         line-height: 20px;
        //                         font-size: 13px;
        //                         height: 20px;
        //                     }
        //                     img {
        //                         height: 190px;
        //                     }
        //                     .item-name {
        //                         color: #333;
        //                         text-overflow: ellipsis;
        //                         overflow: hidden;
        //                         white-space: nowrap;
        //                         width: 80%;
        //                         margin: 0 auto;
        //                     }
        //                     .item-pri {
        //                         color: #FF2C00;
        //                         font-size: 13px;
        //                         padding: 10px 0;
        //                     }
        //                 }
        //             }
        //             li:nth-child(5),
        //             li:nth-child(6),
        //             li:nth-child(7),
        //             li:nth-child(8) {
        //                 margin-top: 12px;
        //             }
        //         }
        //     }
        //     .fl {
        //         float: $fl;
        //     }
        //     .fr {
        //         float: $fr;
        //     }
        // }
    }
    // 店长推荐专区
}

// 内容
//头部悬浮
.fixedSch_box {
    display: none;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(221, 39, 39, .95);
    transition: top .6s ease-out;
    box-shadow: 0 0 2px rgba(255, 255, 255, .7);
    z-index: 10000;
    .mid_box {
        margin: 0 auto;
        width: 1200px;
        a {
            float: $fl;
            img {
                margin: 5px 0 0;
                height: 40px;
            }
        }
        .fixedSch_schBox {
            margin: 9px 0 0 60px;
            width: 660px;
            height: 32px;
            float: $fl;
            .topSearchtxt {
                float: $fl;
                width: 565px;
                height: 33px;
                line-height: 33px;
                text-indent: 10px;
                border: 3px solid #c40000;
                font-size: 14px;
            }
            .topSearchbtn {
                float: $fl;
                text-align: center;
                width: 86px;
                height: 39px;
                background: #c40000;
                color: #fff;
                line-height: 39px;
                border: none;
                cursor: pointer;
                font-size: 16px;
                font-family: "Microsoft Yahei";
            }
        }
    }
}

// 头部悬浮
// 楼层效果
.floor {
    position: fixed;
    top: 200px;
    left: 10px;
    li {
        width: 50px;
        height: 30px;
        border: 1px solid red;
        list-style: none;
        text-align: center;
        line-height: 30px;
        a {
            color: black;
            text-decoration: none;
            display: block;
        }
    }
    .active {
        background: red;
        color: aliceblue;
    }
}

// 底部
.v6_footer {
    font-size: 13px;
    font-family: "微软雅黑";
    .footerMid {
        height: 343px;
        background: url(../img/footer_Bg.gif);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .7);
        .footerMid_t {
            padding-top: 7px;
            width: 1150px;
            height: 113px;
            border-bottom: 2px solid #787878;
            .footer_tel {
                float: $fl;
                margin-top: 20px;
                width: 301px;
                height: 75px;
                background: url(../img/tel.png) left top no-repeat;
            }
            .footer_serv {
                margin: 61px 0 0 30px;
                display: inline-block;
                color: #080808;
                float: $fl;
            }
            .qrCodeBox {
                float: $fr;
                p {
                    margin-right: 20px;
                    margin-top: 15px;
                    color: #fff;
                }
                .fl {
                    float: $fl;
                }
                .footer_qrCode {
                    width: 104px;
                    height: 104px;
                    float: $fl;
                }
            }
        }
        .footer_center {
            margin: $margin;
            width: 1150px;
        }
        .footer_link {
            margin-top: 40px;
            .firstDl {
                margin-left: 100px;
            }
            dl {
                float: $fl;
                width: 170px;
                width: 158px;
                dt {
                    margin-bottom: 10px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 700;
                }
                dd {
                    display: block;
                    margin-inline-start: 0px;
                    // width: 158px;
                    // height: 24px;
                    // line-height: 24px;
                    a {
                        display: inline-block;
                        // font-size: 16px;
                        // height: 24px;
                        line-height: 24px;
                        color: #a9a9a9;
                    }
                }
            }
        }
    }
    .mid_box {
        margin: $margin;
        width: $width;
        p {
            text-align: center;
            font-size: 16px;
            margin: 20px 0;
        }
        .authentication {
            margin-top: 10px;
        }
    }
    .copyright {
        padding-top: 83px;
        background: url(../img/baozheng_06.jpg) center top no-repeat;
        line-height: 24px;
    }
}