* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  height: 89px;
  border-bottom: 1px solid #c5c5c5;
  background: #fff;
}

.header .mid {
  margin: 0 auto;
  width: 1000px;
}

.header .mid .logo {
  float: left;
  margin-top: 20px;
}

.header .mid .login_line {
  margin-top: 28px;
  height: 30px;
  line-height: 30px;
}

.header .mid .fr {
  float: right;
}

.header .mid a {
  text-decoration: none;
  color: #000;
}

.header .mid a i {
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.header .mid a.red {
  color: #cf0404;
}

.content {
  overflow: hidden;
  background-image: url(../img/login_bg.gif);
}

.content .mid {
  margin: 0 auto;
  width: 980px;
}

.content .mid .login_box {
  overflow: hidden;
  padding: 70px 15px;
}

.content .mid .login_box .fl {
  float: left;
}

.content .mid .login_box .login_inner {
  position: relative;
  width: 488px;
  height: 435px;
  background: #fff;
  border: 1px solid #c5c5c5;
}

.content .mid .login_box .login_inner .login_form {
  margin: 30px auto;
  width: 350px;
  /* overflow: hidden; */
}

.content .mid .login_box .login_inner .login_form .login_tit {
  margin: 20px 0;
  text-align: center;
  height: 28px;
  line-height: 28px;
  color: #000;
}

.content .mid .login_box .login_inner .login_form .text_box {
  position: relative;
  margin: 20px 0px;
  width: 348px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.content .mid .login_box .login_inner .login_form .text_box i {
  display: inline-block;
  margin: 0 10px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  color: #cfcfcf;
}

.content .mid .login_box .login_inner .login_form .text_box input {
  width: 260px;
  display: inline-block;
  margin-top: -5px;
  border: 0;
  height: 36px;
  line-height: 36px;
  padding-bottom: 3px;
  background: transparent;
  vertical-align: middle;
  text-indent: 20px;
}

.content .mid .login_box .login_inner .login_form .loginBtn {
  display: block;
  width: 348px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: 1px solid #dc0014;
  background: #fe0a2e;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.9);
  cursor: pointer;
  margin-bottom: 15px;
}

.content .mid .login_box .login_inner .login_form .autoLogin {
  padding-top: 5px;
}

.content .mid .login_box .login_inner .login_form .autoLogin .fl {
  float: left;
}

.content .mid .login_box .login_inner .login_form .autoLogin .fr {
  float: right;
}

.content .mid .login_box .login_inner .dashedLine {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  background: url(../img/dashed_bg_06.gif);
  width: 432px;
  height: 7px;
}

.content .mid .login_box .login_inner .other_login {
  margin: 10px auto;
  width: 350px;
}

.content .mid .login_box .login_inner .other_login a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

.content .mid .login_box .login_inner .other_login .qq {
  background-position: -142px -4px;
  width: 38px;
  height: 38px;
  background: url(../img/qq.png);
}

.content .mid .login_box .login_inner .other_login .zhifubao {
  background-position: -246px -4px;
  width: 38px;
  height: 38px;
  background: url(../img/zfb.png);
}

.content .mid .login_box .login_inner .other_login .weixin {
  background-position: -246px -4px;
  width: 38px;
  height: 38px;
  background: url(../img/ico38.png);
  border-radius: 38px;
}

.content .mid .login_box .fr {
  float: right;
}

.footer {
  margin-top: 50px;
  text-align: center;
  line-height: 22px;
  font-size: 16px;
}

.footer a {
  display: inline-block;
  margin: 0 10px;
}
