* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    width: 450px;
    height: 40px;
    margin: 30px auto;
}

.page span {
    float: left;
    width: 80px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.page span.disabled {
    background-color: #cdcdcd;
}

.page span.default {
    background-color: black;
}

.page ul {
    float: left;
    height: 40px;
}

.page ul li {
    float: left;
    width: 40px;
    height: 40px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    line-height: 40px;
    margin-left: 5px;
    cursor: pointer;
}

.page ul li.selected {
    background-color: #f40;
}