@charset "utf-8";
@media screen and (min-width: 240px) {
    html,body,button,input,select,textarea {
        font-size: 9px
    }
}

@media screen and (min-width: 320px) {
    html,body,button,input,select,textarea {
        font-size: 12px
    }
}

@media screen and (min-width: 380px) {
    html,body,button,input,select,textarea {
        font-size: 14px
    }
}

@media screen and (min-width: 420px) {
    html,body,button,input,select,textarea {
        font-size: 16px
    }
}

@media screen and (min-width: 450px) {
    html,body,button,input,select,textarea {
        font-size: 17px
    }
}

@media screen and (min-width: 480px) {
    html,body,button,input,select,textarea {
        font-size: 18px
    }
}

@media screen and (min-width: 540px) {
    html,body,button,input,select,textarea {
        font-size: 20.25px
    }
}

@media screen and (min-width: 600px) {
    html,body,button,input,select,textarea {
        font-size: 22px
    }
}

@media screen and (min-width: 640px) {
    html,body,button,input,select,textarea {
        font-size: 24px
    }
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial,"Heiti SC";
    color: #000;
    font-size: 1.2rem;
}
* {
/*    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box*/
}
li{
    list-style-type: none;
}

.color1{
    color: #d91d36;
}
.bdbt{
    border-bottom: 1px solid #D5D5D5;
    padding: 0.3rem 0;
}
.center{
    text-align: center;
}
.weight{
    font-weight: 700;
}

section.article{
    margin: 0 auto;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.2rem;
}
section.article .box{
    display: inline-block;
    margin: 0 2rem;
    line-height: 2.7rem;
}
section.article .box .content{
    text-indent: 2.4rem;
}
section.article .box img{
    width: 1.6rem;
    display: inline-block;
    border: 0;
    vertical-align: middle;
}

.number{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
}
.number td{
    border-top:1px solid #9a9a9a;
    border-left:1px solid #9a9a9a;
    text-align: center;
    line-height: 2rem;
}
.number tr:first-child td{
    border-top: 0;
}
.number tr:last-child td{
    border-bottom: 1px solid #9a9a9a;
}
.number tr td:first-child{
    border-left: 0; 
}
.number tr td img{
    width: 1.8rem;
    display: inline-block;
    vertical-align: middle;
    /*margin-top: 0.3rem;*/
}
.number tr.weight td:first-child{
    font-weight: normal;
}
.number tr:nth-child(2) td,.number tr:nth-child(4) td,.number tr:nth-child(6) td{
    background-color: #fdecee;
}
.number tr:nth-child(2) td:first-child,.number tr:nth-child(4) td:first-child,.number tr:nth-child(6) td:first-child{
    background-color: #fff;
}
.conTable{
    display: inline-block;
    margin: 1rem 0 0;
    width: 100%;
}
.table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid #9a9a9a;
    border-width: 1px 0 0 1px;
}
.table tr:first-child{
    background-color: #fdecee;
}
.table td{
    width: 50%;
    border: solid #9a9a9a;
    border-width: 0 1px 1px 0;
}

.kl11x5{
	margin: 0 auto;
	width: 100%;
}
.kl11x5 *{
    padding: 0;
    margin: 0;
}
.kj_number{
	display: inline-block;
	width: 100%;
	padding:0 0 1rem;
}
.kj_number h1{
	display: inline-block;
	width: 100%;
	font-weight: normal;
	font-size:1.6rem;
	line-height:1rem;
    padding: 1.5rem 0 0.6rem;
}
.kj_number .box{
	color: #2f0b07;
	width: 90%;
	padding:0 5%;
	display:inline-block;
}
.kj_number .box ul{
    width: 94%;
    display:-moz-box;
    display:-webkit-box;
    display:box;
    padding: 0;
    margin: 0 3%;
}
.kj_number .box ul li{
	-moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
	/*padding:0 0.2rem;*/
	font-size: 1.4rem;
	line-height:2.6rem;
    text-align: center;
}
.rule{
    margin: 0.6rem auto;
    width: 100%;
    color: #ababab;
    font-size: 1.2rem;
    line-height: 2rem;
}
.rule .count{
    float: left;
    width: 12%;
    text-align: center;
}
.rule .desc{
    margin: 0 1rem 0 12%;
}
.rule_number{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
}
.rule_number td{
    border-top:1px solid #D5D5D5;
    border-left:1px solid #D5D5D5;
    text-align: center;
    height: 6rem;
    line-height: 1.3rem;
    vertical-align: middle;
    width: 8.5%;
	color:#d91d36;
}
.rule_number td span{
    display: inline-block;
    width: 1rem;
	color:#2f0b07;
}
.rule_number tr:last-child td{
    border-bottom: 1px solid #D5D5D5;
}
.rule_number tr td:first-child{
    border-left: 0; 
    width: 15%;
    color: #ababab;
}
.rule_number tr:nth-child(2n+1) td{
    color: #ababab;
    height: 3rem;
    line-height: 3rem;
}
.rule_number2{
    margin-top: 0.5rem;
}
.rule_number2 td{
    height: 4rem;
    line-height: 4rem;
    width: 17%;
}
.rule_number2 tr:nth-child(2n+1) td{
    height: 2.2rem;
    line-height: 2.2rem;
}
.rule_number2 tr:nth-child(2n) td{
    background-image: url(circle.png);
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center;
    font-size: 1.6rem;
	color:#d91d36;
}
.rule_number2 tr:nth-child(2n) td:first-child{
    background-image: none;
    font-size: 1rem;
    color: #ababab;
}
.rule_number3{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
    margin-top: 2rem;
}
.rule_number3 td{
    border-top:1px solid #ababab;
    border-left:1px solid #ababab;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    /*width: 8%;*/
    color: #ababab;
}
.rule_number3 tr:last-child td{
    border-bottom: 1px solid #ababab;
}
.rule_number3 tr:last-child td{
    color: #4b3427;
}
.rule_number3 tr td:first-child{
    border-left: 0; 
    /*width: 12%;*/
    color: #ababab;
}
.foot_elven{
    margin: 3rem auto 0;
    height: 5rem;
    width: 100%;
}
.foot_elven .box{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #171719;
    color: #4b3427;
    line-height: 5rem;
}
.foot_elven .box ul{
    width: 98%;
    padding-right: 2%;
    display:-moz-box;
    display:-webkit-box;
    display:box;
    margin: 0;
    padding: 0;
}
.foot_elven .box ul li{
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    text-align: center;
    background-image: url(circle.png);
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: center;
    font-size: 1.8rem;
}
.foot_elven .box ul li:first-child{
    color: #d91d36;
    background-image: none;
    font-size: 1.4rem;
}
.foot_elven .box ul li.false{
    -moz-box-flex:5;
    -webkit-box-flex:5;
    box-flex:5;
    background-image: none;
    color: #d91d36;
}

/*十万注输入*/
.thousand{
    margin: 0 auto;
}
.thousand .box{
    /*display: inline-block;
    width: 100%;*/
    padding: 3rem 0.5rem 0;
}
.thousand .box textarea{
    display: inline-block;
    width: 99%;
    height: 10rem;
}
