@charset "utf-8";

/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}



html, body, #app {
    height: 100%;
}

ul, ol, li {
	list-style: none;
}


a {
	text-decoration: none;
}

button, input {
	outline: none;
}

button {
	line-height: 1;
}

.bold { font-weight: bold; }

/* 边距 */
.pt5 { padding-top: 5px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }

/* 公用颜色 */
$-g-red: #ec6047;
$-g-blue: #478fca;
$-g-green: #009688;
$-g-yellow: #ff9900;
$-g-purple: #a200ff;

.g-red { color: #{$-g-red}; }
.g-blue { color: #{$-g-blue};}
.g-green { color: #{$-g-green};}
.g-yellow { color: #{$-g-yellow};}
.g-purple { color: #{$-g-purple}; }

.g-red-btn { background-color: #{$-g-red}; color: #fff; border-color:  #{$-g-red};}
.g-yellow-btn { background-color: #{$-g-yellow}; color: #fff; border-color:  #{$-g-yellow};} 

.text-center { text-align: center; }

.w40 { width: 40px; }
.w60 { width: 60px; }
.w80 { width: 80px; }
.w100 { width: 100px; }
.w120 { width: 120px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
/*  公用table样式, 仿antd设计 */
.g-table {
	width: 100%;
	border-collapse: collapse;
	thead {
		th { font-weight: normal; padding: 16px; background-color: #fafafa; border-bottom: 1px solid #e8e8e8; }
	}
	td {
		border-bottom: 1px solid #e8e8e8; padding: 16px;
	}

	&.mid-size {
		td { padding: 10px; }
	}
}

/* 公用主体内容样式, 白色底边 */
.page-container {
	height: 100%; padding: 15px 10px; box-sizing: border-box;
	overflow: hidden; border-radius: 4px; background-color: #fff;
}


.page-under-table {
	margin-top: 15px; padding-top: 15px; border-top: 1px solid #f2f2f2;
}

.g-date-select {
	display: flex;
	li button {
		margin-right: 10px; border: 1px solid #cccccc; padding: 3px 12px; 
		font-size: 12px; background: transparent; border-radius: 2px;

		&.active { border: 1px solid #009688; background: #009688; color: #fff; }
	} 
}

.g-gray-border {
	border-top: 10px solid #f2f2f2; 
}

/* 滚动槽 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(0,0,0,0.06);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgba(0,0,0,0.12);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}


.common-green-btn {
	height: auto!important;
	padding: 4px 8px;
	border-color: $-g-green;
	color: $-g-green;
	&:hover {
		border-color: $-g-green;
		background-color: $-g-green;
		color: #fff;
	}
	&:focus {
		border-color: $-g-green;
		color:  $-g-green;
	}
	&[disabled] {
		color: #999 !important;
		border-color: #999 !important;
	}
}

.common-yellow-btn {
	height: auto!important;
	padding: 4px 8px;
	border-color: $-g-yellow;
	color: $-g-yellow;
	&:hover {
		border-color: $-g-yellow;
		background-color: $-g-yellow;
		color: #fff;
	}
	&:active {
		border-color: $-g-yellow;
		color: $-g-yellow;
	}
	&:focus {
		border-color: $-g-yellow;
		color: $-g-yellow;
	}
}

.common-red-btn {
	height: auto!important;
	padding: 4px 8px;
	border-color: $-g-red;
	color: $-g-red;
	&:hover {
		border-color: $-g-red;
		background-color: $-g-red;
		color: #fff;
	}
	&:focus {
		border-color:  $-g-red;
		color:  $-g-red;
	}
	&:active {
		border-color:  $-g-red;
		color:  $-g-red;
	}
}

.common-blue-btn {
	height: auto!important;
	padding: 4px 8px;
	border-color: $-g-blue;
	color: $-g-blue;
	&:hover {
		border-color: $-g-blue;
		background-color: $-g-blue;
		color: #fff;
	}
	&:focus {
		border-color:  $-g-blue;
		color:  $-g-blue;
	}
	&:active {
		border-color:  $-g-blue;
		color:  $-g-blue;
	}
}

.common-purple-btn {
	height: auto!important;
	padding: 4px 8px;
	border-color: $-g-purple;
	color: $-g-purple;
	&:hover {
		border-color: $-g-purple;
		background-color: $-g-purple;
		color: #fff;
	}
	&:focus {
		border-color:  $-g-purple;
		color:  $-g-purple;
	}
	&:active {
		border-color:  $-g-purple;
		color:  $-g-purple;
	}
}
