/**去除所有滚动条*/
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}
.low_descr iframe {
  width: 100%;
  height: calc(100vh - 10.66667vw);
  border: 0;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.low_descr .scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 10.66667vw; 
}

.low_descr .title {
  width: 100%;
  background: #fff2df;
  height: 10.66667vw;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.low_descr .title span {
  font-size: 4vw;
  margin-left: 2vw;
}

.low_descr .title span.s {
  margin-left: 2vw;
  font-size: 3.5vw;
  color: #838385;
}

.low_descr .title a {
  background: #df3b4e;
  color: #f4e574;
  border-radius: 1vw;
  font-size: 3.5vw;
  padding: 1vw;
  margin-right: 1vw;
  text-decoration: none;
}

body {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
