
$-white: #f2f2f2;

.layout-header {
    height: 40px;
    padding: 0 12px 0 0;
    background: #393d49;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $-white;

    .toggle-icon {
        i { font-size: 20px; line-height: 40px; padding: 0 24px; cursor: pointer; }
    }

    .layout-user-wrap {
        padding-right: 26px; display: flex; align-items: center;
    }

    .current-member-count {
        .ant-dropdown-trigger { 
            color: $-white; margin-right: 20px; 
        }
    }

    .layout-hd-ico-right {
        margin-right: 26px;
    }

    .user-avatar {
        .ant-dropdown-trigger { color: $-white; }
    }
}   



